.casa {
	width: 195px;
	height: 195px;
	border: solid 2px;
	float: left;
	cursor: pointer; 	
}


#jogo{
    width: 597px;
    height: 689px;
    border:solid 3px;
	background-image: url(img/fundojogo.png);
}


.st{
	width: 591px;
	height: 40px;
	border: solid 3px;
	float: left;
	background-color: #B2F0E9;

}
h1{
	font-size:x-large;
	display: block;
    margin-top: 10px;   
    font-weight: bold;
}
.centro {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    
}
body{
 	background-image: url(img/fundo.png);
 	background-size: 100% 100%;
}
.btn{
	font-family: arial;
	font-size: 14px;
	text-transform: uppercase;
	text-transform: 700;
	padding: 10px;
	border:none;
	cursor: pointer;
}
.btn2{
	background: #5A1DDE;
	color: #fff;
	box-shadow:0 5px #3A01B2
}
.btn2:hover{
	background: #3A01B2;
	color: #fff;
	box-shadow:0 5px #27017A;
}
.btn2:active{
	position: relative;
	top:5px;
	box-shadow:none;
}
#infor1 {
	position: absolute; 
	bottom: 10; 
  	width: 300px;
	height: 100px;
	border: solid 3px;
	float: left; 	
	background-color: #B2F0E9;
}

#infor2 {
	position: absolute; 
	bottom: 140; 
  	width: 300px;
	height: 100px;
	border: solid 3px;
	float: left; 	
	background-color: #B2F0E9;
}
.foto{
	border: 1px solid;
	position: absolute; 
	margin-left:200px;
	float:left;
	bottom: 20;
}